/* 4 parts in this page  */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgb(233, 233, 233), rgb(178, 190, 205));
}

p {
  color: rgb(255, 255, 255);
}

/* 1 :  welcome video part  */
.wel-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  animation: hideVideo 5s ease-in-out forwards;
  animation-delay: 3s;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* mask for the video */
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.mask h1 {
  color: rgb(240, 248, 255);
  font-size: 4em;
  font-family: "Fredericka the Great", sans-serif;
}

main {
  opacity: 0;
  animation: showContent 1s ease-in forwards;
  position: relative;
}

/* Animation for the welcome video hide and content show up */
@keyframes hideVideo {
  0% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }

  100% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 2 : First section of the main content  */

.sec1 {
  position: relative;
  width: 100vw;
  height: 55vw;
  background-image: url(../image/img\ \(2\).jpg);
  background-size: cover;
}

.sec1 h2 {
  position: absolute;
  font-size: 2.5em;
  color: rgb(94, 151, 26);
  font-family: "Fredericka the Great", serif;
  text-align: center;
  text-shadow: 5px 5px 3px rgb(169, 169, 169);
  animation-duration: 5S;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: mastheadMove;
}

.sec1 h2:nth-child(1) {
  right: 30%;
  bottom: 48%;
}

.sec1 h2:nth-child(2) {
  right: 10%;
  bottom: 40%;
}

.book-button {
  position: absolute;
  top: 28%;
  right: 25%;
  width: 15em;
  height: 3em;
  line-height: 2.8em;
  text-align: center;
  font-size: 1.2em;
  font-family: "Ribeye", serif;
  color: black;
  border: solid 0.1em rgb(0, 0, 0);
  border-radius: 3em;
  cursor: pointer;
  transition: color 0.3s ease;
  animation: buttonZoom 2s infinite;
}

.book-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(193, 193, 193), #ff6b6b, rgb(193, 193, 193));
  z-index: -1;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}

.book-button:hover::before {
  transform: scaleX(1);
}

.book-button:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0.2em 0.2em 0.2em rgb(0, 0, 0);
}

/* animations for masthead */
@keyframes mastheadMove {
  0% {
    transform: rotate(5deg) translateY(0);
  }

  25% {
    transform: translateY(-15px);
  }

  100% {
    transform: rotate(-5deg) translateY(30px);
  }
}



/* 3 : Second section of the main content  */

.sec2 {
  display: flex;
  width: 80vw;
  height: 30vw;
  margin: 8em auto;
}

.sec2>div:nth-child(1) {
  display: flex;
  width: 45%;
}

.sec2>div:nth-child(2) {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0 2em 2em;
}

.text-area {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1em;

}

.text-area div {
  margin-left: 1em;
  width: 100%;
  height: 100%;
}

.text-area img {
  width: 5em;
  height: 2.5em;
}

.text-area div h3 {
  display: block;
  font-size: 1.2em;

}

.text-area div p {
  font-size: 1em;
  font-family: "Kanit", sans-serif;
  color: rgb(66, 66, 66);
}

/* 4 : Third section of the main content  */
.sec3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  width: 90vw;
  height: 45vw;
  margin: 8em auto;


}

.sec3>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 1em;
}

.sec3 img {
  height: 100%;

}

.mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sec3>div:nth-child(1) {
  background-color: rgba(221, 230, 237, 1);
}

.sec3>div:nth-child(2) {
  background-color: rgba(217, 218, 226, 1);
}

.sec3>div:nth-child(3) {
  background-color: rgba(222, 226, 211, 1);
}

.sec3>div:nth-child(4) {
  background-color: rgb(217, 219, 237, 1);
}

.sec3 h3 {
  position: absolute;
  right: 5%;
  top: 10%;
  color: black;
  font-size: 1.5em;
  font-family: "Fredericka the Great", sans-serif;
  letter-spacing: 2px;
  text-shadow: 0.2em 0.2em 0.2em rgb(171, 171, 171);
  transition: all 0.3s;
}

/* button for section 3 */
.button {
  width: 10em;
  height: 2.5em;
  line-height: 2.3em;
  text-align: center;
  font-size: 1em;
  font-family: "Ribeye", serif;
  color: black;
  background-color: rgba(255, 228, 196, 0.8);
  border: solid 0.1em rgb(0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.3s ease;
  animation: buttonZoom 2s infinite;
  display: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(193, 193, 193), #ff6b6b, rgb(193, 193, 193));
  z-index: -1;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}

/* all the hover effect in section 3*/
.button:hover::before {
  transform: scaleX(1);
}

.button:hover {
  color: rgb(255, 255, 255);
}

@keyframes buttonZoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}



.sec3 div:hover .mask2 {
  background: rgba(0, 0, 0, 0.7);
}

.sec3 div:hover h3 {
  top: 20%;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);

}

.sec3 div:hover .button {
  display: block;
}

/* floating oval  */
.oval {
  position: absolute;
  width: 17vw;
  height: 15vw;
  clip-path: ellipse(50% 50% at 50% 50%);
  animation-duration: 5S;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  opacity: 0.5;
  background: linear-gradient(to right, rgb(132, 228, 252), rgb(203, 246, 255));
  z-index: -1;
}

@keyframes ovalMove1 {
  0% {
    transform: rotate(20deg) translateX(-10%) translateY(0);
  }

  25% {
    transform: rotate(20deg) translateX(-10%) translateY(-15px);
  }

  100% {
    transform: rotate(20deg) translateX(-10%) translateY(30px);
  }
}

@keyframes ovalMove2 {
  0% {
    transform: rotate(-20deg) translateX(10%) translateY(0);
  }

  25% {
    transform: rotate(-20deg) translateX(10%) translateY(-15px);
  }

  100% {
    transform: rotate(-20deg) translateX(10%) translateY(30px);
  }
}

.oval-1 {
  top: 60vw;
  right: -5%;
  animation-name: ovalMove1;
}

.oval-2 {
  top: 91vw;
  left: -10%;
  animation-name: ovalMove2;
}

.oval-3 {
  bottom: 3%;
  right: -10%;
  animation-name: ovalMove1;
}

.slide-up {
  transform: translateY(80px);
  opacity: 0;
  transition: all .5s ease;
}

.slide-up.active {
  transform: translateX(0px);
  opacity: 1;
}


/* global header  */
.logo {
  display: flex;
  align-items: center;
  width: 15em;

}

.logo p {
  width: 50%;
  margin-left: 1em;
  color: rgb(226, 145, 39);
  font-size: 1.5em;
  font-family: Sans-serif;
  font-weight: 900;
  font-style: italic;
  text-shadow: 1px 2px 1px rgb(230, 230, 230);
}

.iconLogo {
  width: 3.5em;
  height: 3em;
  margin-right: 5px;
}



/* set nav */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 5em;
  padding: 0 3vw 0 2vw;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;

}

/* set menu */
.menu {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}

.menu li {
  width: 10em;
}

.menu a {
  font-size: 1.2em;
  font-weight: 600;
  text-shadow: 0.1em 0.1em 0.3em rgb(230, 0, 0);
  color: rgb(255, 255, 255)
}

/* set log in and register */
.login a,
.login {
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.3em rgb(255, 0, 0);
  font-weight: 600;
}


/* Global Footer part */
/* set footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 3vh 8vw 3vh 5vw;

}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;


}

.footer-icons a {

  width: 25px;
  height: 25px;
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  font-size: 20px;
  color: rgb(248, 157, 40);
  text-align: center;
  line-height: 25px;
  margin-left: 3px;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}

.footer-links {
  text-align: center;
}

.footer-left p {
  display: inline-block;
  margin: 4px 0;

}

.footer-left i {
  font-size: 20px;
  color: rgb(248, 157, 40);
  width: 25px;
}

.footer-center p {
  text-align: center;
  line-height: 25px;
}

a {

  color: #fff;
}

/* Change color on mouse hover */
a:hover {
  color: rgba(255, 0, 0, 1);
  opacity: 0.9;
  font-size: larger;
}

.fa:hover {
  color: rgba(255, 0, 0, 1);
  opacity: 0.8;
  cursor: pointer;
}

/* Media queries for small screen adjustments */
@media(max-width: 850px) {
  * {
    font-size: 12px;
  }


}

@media(max-width: 750px) {
  * {
    font-size: 10px;
  }

}

@media(max-width: 650px) {
  * {
    font-size: 9px;
  }


}